@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --main-bg-color: #0e4687;
  --primary-color: #247ba0;
  --secondary-color: #70c1b3;
  --warning-color: #ff1654;
  --white: #f3ffbd;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Oswald", sans-serif !important;
}

body {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

span {
  cursor: pointer;
}

.calculator {
  display: grid;
  position: relative;
  border: 1px solid var(--primary-color);
  min-width: 300px;
  min-height: 400px;
}

.calculator .value {
  grid-column: span 4;
  font-size: 3rem;
  font-family: "Oswald", sans-serif !important;
  padding: 1.5rem 1rem;
  outline: none;
  color: black;
  text-align: right;
}

.calculator span {
  display: grid;
  place-items: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator .c {
  grid-column: span 2;
  background-color: var(--warning-color);
}
.calculator span:active {
  background-color: var(--warning-color);
}

.calculator span.plus {
  grid-row: span 2;
}
.calculator span.equals {
  background-color: var(--secondary-color);
}
