:root {
  --main-bg-color: rgb(57, 57, 197);
  --primary-color: rgb(139, 139, 248);
  --secondary-color: rgb(60, 87, 243);
  --warning-color: rgb(235, 20, 20);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

body {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

span {
  cursor: pointer;
}

.calculator {
  display: grid;
  position: relative;
}

.calculator .value {
  grid-column: span 4;
  font-size: 2rem;
  padding: 2rem;
  outline: none;
  color: black;
  text-align: right;
}
.calculator .c {
  grid-column: span 2;
  background-color: var(--warning-color);
}

.calculator span {
  display: grid;
  place-items: center;
  padding: 1.5rem;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.calculator span:active {
  background-color: var(--warning-color);
}

.calculator span.plus {
  grid-row: span 2;
}
.calculator span.equals {
  background-color: var(--secondary-color);
}
